.highlight {
  counter-reset: line;
  text-align: left;
}
.highlight--linenos .highlight__line:before {
  position: absolute;
  counter-increment: line;
  content: counter(line);
  height: 100%;
  border-right: 1px solid rgba(200, 200, 200, 0.7);
  color: var(--t-highlight__text);
  width: 35px;
  padding: 0 10px 0 0;
  text-align: right;
  left: 0;
  cursor: default;
}
.highlight--linenos .highlight__line:hover:before {
  color: var(--t-highlight__text);
}

.highlight__line {
  display: block;
  position: relative;
  padding-left: 40px;
  white-space: pre-wrap;
  cursor: text;
}
.highlight__line:hover {
  background: black;
  opacity: 1;
}

.highlight__language {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  background: grey;
  border-bottom: none;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid grey;
  color: black;
}
.highlight__language--ischecked {
  border-bottom: 1px solid blue;
  color: blue;
}

.highlight + br {
  display: none;
}
