/*!
This UI theme is based on:
Tokyo Night Storm theme - https://github.com/tokyo-night/tokyo-night-vscode-theme

Custom Ui theme made by @MarkoSagadin, 2025
 */
:root, .card.nightMode{
    --main-background: #1a1b26;
    --secondary-background: #414868;
    --tabs-label-background: #7aa2f7;
    --accent-background: #f7768e;
    --cloze-background: #bb9af7;
    --codeline-hover-background: rgba(41, 46, 66, .8);
    --main-color: #c0caf5;
    --secondary-color: #414868;
    --accent-color: #7aa2f7;
    --cloze-color: #1a1b26;
    --h1: #7aa2f7;
    --h2: #bb9af7;
    --h3: #f7768e;
    --h4: #e0af68;
    --h5: #9ece6a;
    --h6: #7dcfff;
}
