/*  ******************************
 *  *          UTILITIES         *
 *  ****************************** */
/*  ---------  VARIABLES (hidden in css)  ----------- */
/*  ----- Base Colors ----
 *  $main-background: 
 *  $secondary-background:
 *  $accent-background:  
 *  $main-color: 
 *  $secondary-color: 
 *  $accent-color:
 *  $ancillary-color:  */ /*  ---------  NORMALIZE  ----------- */
/* Box sizing rules */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, pre, code {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list], ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  ---------  GENERAL  ----------- */
html {
  font-size: 62.5%;
}

/*  ******************************
 *  *            BASE            *
 *  ****************************** */
.large-text {
  line-height: 1.2;
  font-size: 3.2rem;
}

.medium-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.6rem;
}

body {
  font-size: 2rem;
  line-height: 1.5;
}

/*  ******************************
 *  *            LAYOUT          *
 *  ****************************** */
.l-col-flex {
  display: flex;
  flex-flow: column nowrap;
}

.l-row-flex {
  display: flex;
  flex-flow: row nowrap;
}

.l-viewport {
  width: 100vw;
  height: 100vh;
}

.l-center {
  justify-content: center;
  align-items: center;
}

.l-spacebetween {
  justify-content: space-between;
}

/*  ******************************
 *  *           MODULES          *
 *  ****************************** */
/*  ---------  tabs  ----------- */
.tab--isactive .tab__label {
  border-bottom: 1px solid blue;
  color: blue;
}
.tab--isactive .tab__body {
  display: block;
}

.tab__label {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  background: grey;
  border-bottom: none;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid grey;
  color: black;
}

.tab__body {
  display: none;
}

/*  ---------  tabs  ----------- */
.tab_group {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background: red;
}

.tab_group .tab__body {
  position: absolute;
  left: 0;
}

/*  ---------  highlight  ----------- */
.highlight {
  counter-reset: line;
  text-align: left;
}
.highlight--linenos .highlight__line:before {
  position: absolute;
  counter-increment: line;
  content: counter(line);
  height: 100%;
  border-right: 1px solid rgba(200, 200, 200, 0.7);
  color: var(--t-highlight__text);
  width: 35px;
  padding: 0 10px 0 0;
  text-align: right;
  left: 0;
  cursor: default;
}
.highlight--linenos .highlight__line:hover:before {
  color: var(--t-highlight__text);
}

.highlight__line {
  display: block;
  position: relative;
  padding-left: 40px;
  white-space: pre-wrap;
  cursor: text;
}
.highlight__line:hover {
  background: black;
  opacity: 1;
}

.highlight__language {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  background: grey;
  border-bottom: none;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid grey;
  color: black;
}
.highlight__language--ischecked {
  border-bottom: 1px solid blue;
  color: blue;
}

.highlight + br {
  display: none;
}

/*  ---------  windows  ----------- */
/*  ******************************
 *  *            THEMES          *
 *  ****************************** */
/*  ---------  BG IMG  ----------- */

/*# sourceMappingURL=style.css.map */
