/*!
This Highlight theme is based on:
Catpuccin Theme Latte - https://github.com/catppuccin/catppuccin
  
Custom highlight theme made by @Mochitto, 2023
 */
:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --code-text: #4c4f69;
  --code-comment: #9ca0b0;
  --code-background: #eff1f5;
}

/* Guide to the tokens: https://pygments.org/docs/tokens/ */
.highlight .hll { background-color: var(--peach) }
 .highlight__code  { background: var(--code-background); color: var(--code-text); }
 .highlight .c { color: var(--code-comment) } /* Comment */
 .highlight .err { color: var(--red) } /* Error */
 .highlight .g { color: var(--code-text) } /* Generic */
 .highlight .k { color: var(--sky); font-weight: bold; } /* Keyword */
 .highlight .l { color: var(--code-text) } /* Literal */
 .highlight .n { color: var(--blue) } /* Name */
 .highlight .o { color: var(--sky); font-weight: bold; } /* Operator */
 .highlight .x { color: var(--code-text) } /* Other */
 .highlight .p { color: var(--red) } /* Punctuation */
 .highlight .ch { color: var(--code-comment) } /* Comment.Hashbang */
 .highlight .cm { color: var(--code-comment) } /* Comment.Multiline */
 .highlight .cp { color: var(--peach) } /* Comment.Preproc */
 .highlight .cpf { color: var(--code-comment) } /* Comment.PreprocFile */
 .highlight .c1 { color: var(--code-comment) } /* Comment.Single */
 .highlight .cs { color: var(--code-comment) } /* Comment.Special */
 .highlight .gd { color: var(--red) } /* Generic.Deleted */
 .highlight .ge { color: var(--code-text); text-decoration: underline } /* Generic.Emph */
 .highlight .gr { color: var(--code-text) } /* Generic.Error */
 .highlight .gh { color: var(--code-text); font-weight: bold } /* Generic.Heading */
 .highlight .gi { color: var(--code-text); font-weight: bold } /* Generic.Inserted */
 .highlight .go { color: var(--code-text) } /* Generic.Output */
 .highlight .gp { color: var(--code-text) } /* Generic.Prompt */
 .highlight .gs { color: var(--code-text) } /* Generic.Strong */
 .highlight .gu { color: var(--code-text); font-weight: bold } /* Generic.Subheading */
 .highlight .gt { color: var(--code-text) } /* Generic.Traceback */
 .highlight .kc { color: var(--teal) } /* Keyword.Constant */
 .highlight .kd { color: var(--red) } /* Keyword.Declaration */
 .highlight .kn { color: var(--red) } /* Keyword.Namespace */
 .highlight .kp { color: var(--red) } /* Keyword.Pseudo */
 .highlight .kr { color: var(--sky); font-weight: bold; } /* Keyword.Reserved */
 .highlight .kt { color: var(--mauve) } /* Keyword.Type */
 .highlight .ld { color: var(--code-text) } /* Literal.Date */
 .highlight .m { color: var(--mauve) } /* Literal.Number */
 .highlight .s { color: var(--green) } /* Literal.String */
 .highlight .na { color: var(--green) } /* Name.Attribute */
 .highlight .nb { color: var(--maroon); font-style: italic } /* Name.Builtin */
 .highlight .nc { color: var(--peach) } /* Name.Class */
 .highlight .no { color: var(--blue); font-style: italic } /* Name.Constant */
 .highlight .nd { color: var(--code-text) } /* Name.Decorator */
 .highlight .ni { color: var(--code-text) } /* Name.Entity */
 .highlight .ne { color: var(--red) } /* Name.Exception */
 .highlight .nf { color: var(--blue) } /* Name.Function */
 .highlight .nl { color: var(--teal); font-style: italic } /* Name.Label */
 .highlight .nn { color: var(--code-text) } /* Name.Namespace */
 .highlight .nx { color: var(--code-text) } /* Name.Other */
 .highlight .py { color: var(--blue) } /* Name.Property */
 .highlight .nt { color: var(--red) } /* Name.Tag */
 .highlight .nv { color: var(--teal); font-style: italic } /* Name.Variable */
 .highlight .ow { color: var(--mauve); font-weight: bold; } /* Operator.Word */
 .highlight .w { color: var(--code-text) } /* Text.Whitespace */
 .highlight .mb { color: var(--mauve) } /* Literal.Number.Bin */
 .highlight .mf { color: var(--mauve) } /* Literal.Number.Float */
 .highlight .mh { color: var(--mauve) } /* Literal.Number.Hex */
 .highlight .mi { color: var(--mauve) } /* Literal.Number.Integer */
 .highlight .mo { color: var(--mauve) } /* Literal.Number.Oct */
 .highlight .sa { color: var(--green) } /* Literal.String.Affix */
 .highlight .sb { color: var(--green) } /* Literal.String.Backtick */
 .highlight .sc { color: var(--green) } /* Literal.String.Char */
 .highlight .dl { color: var(--green) } /* Literal.String.Delimiter */
 .highlight .sd { color: var(--green) } /* Literal.String.Doc */
 .highlight .s2 { color: var(--green) } /* Literal.String.Double */
 .highlight .se { color: var(--green) } /* Literal.String.Escape */
 .highlight .sh { color: var(--green) } /* Literal.String.Heredoc */
 .highlight .si { color: var(--green) } /* Literal.String.Interpol */
 .highlight .sx { color: var(--green) } /* Literal.String.Other */
 .highlight .sr { color: var(--green) } /* Literal.String.Regex */
 .highlight .s1 { color: var(--green) } /* Literal.String.Single */
 .highlight .ss { color: var(--green) } /* Literal.String.Symbol */
 .highlight .bp { color: var(--code-text); font-style: italic } /* Name.Builtin.Pseudo */
 .highlight .fm { color: var(--green) } /* Name.Function.Magic */
 .highlight .vc { color: var(--rosewater); font-style: italic } /* Name.Variable.Class */
 .highlight .vg { color: var(--code-text); font-style: italic } /* Name.Variable.Global */
 .highlight .vi { color: var(--rosewater); font-style: italic } /* Name.Variable.Instance */
 .highlight .vm { color: var(--teal); font-style: italic } /* Name.Variable.Magic */
 .highlight .il { color: var(--mauve) } /* Literal.Number.Integer.Long */
