:root {
    --main-background: #ffffff; /* This is used for the tabs' body */
    --secondary-background: #250055; /* This is used for the tabs-bar background */
    --tabs-label-background: #c2c2c2;
    --accent-background: #7300ff;
    --body-background: #000000; /* Shows thorugh during "over sibling hover"*/

    --codeline-hover-background: #d1d1d1;

    --main-color: #000000;
    --secondary-color: #4d4d4d;
    --accent-color: #7300ff;
    --ancillary-color: rgb(94, 93, 93);
}