:root {
    --main-background: #ffffff; /* This is used for the tabs' body */
    --secondary-background: #8961b9; /* This is used for the tabs-bar background */
    --tabs-label-background: #bc8dfa;
    --accent-background: #005588;
    --body-background: #000000; /* Shows thorugh during "over sibling hover"*/

    --codeline-hover-background: #d1d1d1;

    --main-color: #000000;
    --secondary-color: #3a3a3a;
    --accent-color: #250055;
    --ancillary-color: rgb(94, 93, 93);
 }