:root {
    --main-background: #f8f8f8; /* This is used for the tabs' body */
    --secondary-background: #a39898; /* This is used for the tabs-bar background */
    --tabs-label-background: #c4c1c1;
    --accent-background: #AA22FF;
    --body-background: #000000; /* Shows thorugh during "over sibling hover"*/

    --codeline-hover-background: #d1d1d1;

    --main-color: #000000;
    --secondary-color: #0044DD;
    --accent-color: #AA22FF;
    --ancillary-color: rgb(94, 93, 93);
 }