:root {
    --main-background: #111111; /* This is used for the tabs' body */
    --secondary-background: #fb660a; /* This is used for the tabs-bar background */
    --tabs-label-background: #ffffff;
    --accent-background: #fb660a;
    --body-background: #fff; /* Shows thorugh during "over sibling hover"*/

    --codeline-hover-background: #2e2e2e;

    --main-color: #ffffff;
    --secondary-color: #4d4d4d;
    --accent-color: #0086f7;
    --ancillary-color: rgb(94, 93, 93);
 }