/*  EXTRA FIX WHEN NOT USED WITH NORMALIZE */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, pre, code {
    margin: 0;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    font-size: 2rem;
    line-height: 1.5;
  }
  /*  END OF FIX  */