/*!
This Highlight theme is based on:
Catpuccin Theme Macchiato - https://github.com/catppuccin/catppuccin

Custom highlight theme made by @Mochitto, 2023
 */
:root.nightMode{
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8db5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --code-text: #cad3f5;
    --code-comment: #b8c0e0;
    --code-background: #24273a;
  }

  /* Guide to the tokens: https://pygments.org/docs/tokens/ */
.nightMode .highlight .hll { background-color: var(--peach) }
.nightMode .highlight__code  { background: var(--code-background); color: var(--code-text); }
.nightMode .highlight .c { color: var(--code-comment) } /* Comment */
.nightMode .highlight .err { color: var(--red) } /* Error */
.nightMode .highlight .g { color: var(--code-text) } /* Generic */
.nightMode .highlight .k { color: var(--sky); font-weight: bold; } /* Keyword */
.nightMode .highlight .l { color: var(--code-text) } /* Literal */
.nightMode .highlight .n { color: var(--blue) } /* Name */
.nightMode .highlight .o { color: var(--sky); font-weight: bold; } /* Operator */
.nightMode .highlight .x { color: var(--code-text) } /* Other */
.nightMode .highlight .p { color: var(--red) } /* Punctuation */
.nightMode .highlight .ch { color: var(--code-comment) } /* Comment.Hashbang */
.nightMode .highlight .cm { color: var(--code-comment) } /* Comment.Multiline */
.nightMode .highlight .cp { color: var(--peach) } /* Comment.Preproc */
.nightMode .highlight .cpf { color: var(--code-comment) } /* Comment.PreprocFile */
.nightMode .highlight .c1 { color: var(--code-comment) } /* Comment.Single */
.nightMode .highlight .cs { color: var(--code-comment) } /* Comment.Special */
.nightMode .highlight .gd { color: var(--red) } /* Generic.Deleted */
.nightMode .highlight .ge { color: var(--code-text); text-decoration: underline } /* Generic.Emph */
.nightMode .highlight .gr { color: var(--code-text) } /* Generic.Error */
.nightMode .highlight .gh { color: var(--code-text); font-weight: bold } /* Generic.Heading */
.nightMode .highlight .gi { color: var(--code-text); font-weight: bold } /* Generic.Inserted */
.nightMode .highlight .go { color: var(--code-text) } /* Generic.Output */
.nightMode .highlight .gp { color: var(--code-text) } /* Generic.Prompt */
.nightMode .highlight .gs { color: var(--code-text) } /* Generic.Strong */
.nightMode .highlight .gu { color: var(--code-text); font-weight: bold } /* Generic.Subheading */
.nightMode .highlight .gt { color: var(--code-text) } /* Generic.Traceback */
.nightMode .highlight .kc { color: var(--teal) } /* Keyword.Constant */
.nightMode .highlight .kd { color: var(--red) } /* Keyword.Declaration */
.nightMode .highlight .kn { color: var(--red) } /* Keyword.Namespace */
.nightMode .highlight .kp { color: var(--red) } /* Keyword.Pseudo */
.nightMode .highlight .kr { color: var(--sky); font-weight: bold; } /* Keyword.Reserved */
.nightMode .highlight .kt { color: var(--mauve) } /* Keyword.Type */
.nightMode .highlight .ld { color: var(--code-text) } /* Literal.Date */
.nightMode .highlight .m { color: var(--mauve) } /* Literal.Number */
.nightMode .highlight .s { color: var(--green) } /* Literal.String */
.nightMode .highlight .na { color: var(--green) } /* Name.Attribute */
.nightMode .highlight .nb { color: var(--maroon); font-style: italic } /* Name.Builtin */
.nightMode .highlight .nc { color: var(--peach) } /* Name.Class */
.nightMode .highlight .no { color: var(--blue); font-style: italic } /* Name.Constant */
.nightMode .highlight .nd { color: var(--code-text) } /* Name.Decorator */
.nightMode .highlight .ni { color: var(--code-text) } /* Name.Entity */
.nightMode .highlight .ne { color: var(--red) } /* Name.Exception */
.nightMode .highlight .nf { color: var(--blue) } /* Name.Function */
.nightMode .highlight .nl { color: var(--teal); font-style: italic } /* Name.Label */
.nightMode .highlight .nn { color: var(--code-text) } /* Name.Namespace */
.nightMode .highlight .nx { color: var(--code-text) } /* Name.Other */
.nightMode .highlight .py { color: var(--blue) } /* Name.Property */
.nightMode .highlight .nt { color: var(--red) } /* Name.Tag */
.nightMode .highlight .nv { color: var(--teal); font-style: italic } /* Name.Variable */
.nightMode .highlight .ow { color: var(--mauve); font-weight: bold; } /* Operator.Word */
.nightMode .highlight .w { color: var(--code-text) } /* Text.Whitespace */
.nightMode .highlight .mb { color: var(--mauve) } /* Literal.Number.Bin */
.nightMode .highlight .mf { color: var(--mauve) } /* Literal.Number.Float */
.nightMode .highlight .mh { color: var(--mauve) } /* Literal.Number.Hex */
.nightMode .highlight .mi { color: var(--mauve) } /* Literal.Number.Integer */
.nightMode .highlight .mo { color: var(--mauve) } /* Literal.Number.Oct */
.nightMode .highlight .sa { color: var(--green) } /* Literal.String.Affix */
.nightMode .highlight .sb { color: var(--green) } /* Literal.String.Backtick */
.nightMode .highlight .sc { color: var(--green) } /* Literal.String.Char */
.nightMode .highlight .dl { color: var(--green) } /* Literal.String.Delimiter */
.nightMode .highlight .sd { color: var(--green) } /* Literal.String.Doc */
.nightMode .highlight .s2 { color: var(--green) } /* Literal.String.Double */
.nightMode .highlight .se { color: var(--green) } /* Literal.String.Escape */
.nightMode .highlight .sh { color: var(--green) } /* Literal.String.Heredoc */
.nightMode .highlight .si { color: var(--green) } /* Literal.String.Interpol */
.nightMode .highlight .sx { color: var(--green) } /* Literal.String.Other */
.nightMode .highlight .sr { color: var(--green) } /* Literal.String.Regex */
.nightMode .highlight .s1 { color: var(--green) } /* Literal.String.Single */
.nightMode .highlight .ss { color: var(--green) } /* Literal.String.Symbol */
.nightMode .highlight .bp { color: var(--code-text); font-style: italic } /* Name.Builtin.Pseudo */
.nightMode .highlight .fm { color: var(--green) } /* Name.Function.Magic */
.nightMode .highlight .vc { color: var(--rosewater); font-style: italic } /* Name.Variable.Class */
.nightMode .highlight .vg { color: var(--code-text); font-style: italic } /* Name.Variable.Global */
.nightMode .highlight .vi { color: var(--rosewater); font-style: italic } /* Name.Variable.Instance */
.nightMode .highlight .vm { color: var(--teal); font-style: italic } /* Name.Variable.Magic */
.nightMode .highlight .il { color: var(--mauve) } /* Literal.Number.Integer.Long */
