/*!
This Highlight theme is based on:
Catpuccin Theme Latte - https://github.com/catppuccin/catppuccin

Custom highlight theme made by @Mochitto, 2023
 */
:root, .card{
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --code-text: #4c4f69;
  --code-comment: #9ca0b0;
  --code-background: #eff1f5;
}
